PORT=4000
PUBLIC_WS_PATH=/ws
KEYCLOAK_JWKS_URL=https://keycloak.local/realms/cars/protocol/openid-connect/certs
KEYCLOAK_ISSUER=https://keycloak.local/realms/cars
CAR_AUDIENCE=cars-internal
OPERATOR_AUDIENCE=cars-frontend
CAR_SERVICE_CLIENT_ID=car-service
OPERATOR_REQUIRED_ROLE=operator
ALLOW_INSECURE_TOKENS=true
PING_INTERVAL_MS=25000
